@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Orbitron", sans-serif;
}

.cabecalho{
    padding: 5px 0;
    font-size: 25px;
    background-color: #DC0000;
    color: rgb(black);
    display: flex;
    justify-content: space-around;
}
.cabecalho-Imagem{
    width: 25%;
}
.cabecalhoListaItem{
    display: inline-block;
    margin: 0 40px;
    padding: 20px 0;
}
.sobre-imagem{
    width: 20%;
}
.sobre{
    background-color: rgb(243, 243, 243);
    color: rgb(black);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0px;
}
.sobre-conteudo{
    width: 25%;
    padding: 100px
}
.sobre-texto-um{
    font-size: 18px;
}
.sobre-titulo{
    padding: 20px 0;
}